<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Bai tập Tuanna">
  <meta name="author" content="tuanna">
  <!-- <title>Hoc react online Khoa Pham</title> -->
  <title>Hoc react - Bai tap so 2</title>
  <!-- <script crossorigin src="js/react.development.js"></script>
    <script crossorigin src="js/react-dom.development.js"></script>
    <script crossorigin src="js/babel.min.js"></script> -->

  <script src="lib/js/react.development.js"></script>
  <script src="lib/js/react-dom.development.js"></script>
  <script src="lib/js/babel.min.js"></script> <!--dich JSX de doc duoc-->
  <link rel="stylesheet" type="text/css" href="lib/css/style.css" />

  <!-- Bootstrap core CSS -->
<link href="lib/boostrapTemplate/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="lib/boostrapTemplate/shop-homepage.css" rel="stylesheet">

</head>

<body>
  <div id="root"></div>
  <!-- <script type="text/babel" src="main-bai-1-ngay-26-06-2019.js"></script> -->
  <!-- <script type="text/babel" src="props.js"></script> -->
  <script type="text/babel" src="XULY-bai-tap-so-2.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script src="lib/boostrapTemplate/jquery.min.js"></script>
  <script src="lib/boostrapTemplate/bootstrap.bundle.min.js"></script>
</body>

</html>
