<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Hoc react online</title>
  <!-- <script crossorigin src="js/react.development.js"></script>
    <script crossorigin src="js/react-dom.development.js"></script>
    <script crossorigin src="js/babel.min.js"></script> -->

  <script src="lib/js/react.development.js"></script>
  <script src="lib/js/react-dom.development.js"></script>
  <script src="lib/js/babel.min.js"></script>
  <link rel="stylesheet" type="text/css" href="lib/css/style.css" />
</head>

<body>
  <div id="root" class="container-form"></div>
  <script type="text/babel" src="main-bai-1-ngay-26-06-2019.js"></script>
</body>

</html>
